.darkgrayContainer {
    display: flex;
    flex: row wrap;
    height: 200px;
    width: 200px;
    padding: 5px color black;   
}
.box {
    display: flex;
    flex: row wrap;
    height: 100px;
    width: 200px;
    padding: 5px color black;
}
.AC {
    background-color: rgb(56, 51, 51);
}
.add {
    background-color: rgb(101, 99, 99);
}
.percent {
    background-color: rgb(101, 99, 99);
}
.division {
    background-color: rgb(255, 168, 7)
}
.lightgrayContainer{
    height: 200px;
    width: 200px;
    display: flex;
    flex: row wrap;
    padding: 5px color black;
}
.number {
    display: flex;
    flex: row wrap;
    height: 200px;
    width: 200px;
    padding: 5px color black;
}
.seven {
    background-color: rgb(101, 99, 99);
    display: flex;
}
.four {
    background-color: rgb(101, 99, 99);
}
.one {
    background-color: rgb(101, 99, 99);
}
.zero {
    background-color: rgb(101, 99, 99);
}

