.darkgrayContainer {
    height: 50px;
    width: 50px;
    display: flex;
    flex: row;
}
.AC {
    background-color: rgb(56, 51, 51);
}
.add {
    background-color: rgb(101, 99, 99);
}
.percent {
    background-color: rgb(101, 99, 99);
}
.division {
    background-color: rgb(101, 99, 99);
}
.lightgrayContainer{
    background-color: rgb(101, 99, 99);
    height: 50px;
    width: 50px;
    display: flex;
    flex: row;
}
.seven {
    background-color: rgb(101, 99, 99);
}
.four {
    background-color: black;
}
.one {
    background-color: black;
}
.zero {
    background-color: black;
}

