body {
    background-color: aqua;
    font-family: "Sora";
}
header {
    text-align: center;
    margin: auto;
    color:darkred;
    font-family: "TimesNewRoman";
}
.center {
    color: darkred;
    display: flex;
    flex-direction: row;
}
ul {
    display: inline-block;
}
.leftList {
    margin-right: 40%;
}
.rightList {
    margin-left: 20%;
}